[credential "https://github.com"]
	helper = 
	helper = !/home/chicken/.local/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/chicken/.local/bin/gh auth git-credential
[user]
	email = chickenwwwicken@gmail.com
	name = chickenwwwicken
[init]
	defaultBranch = main
[fetch]
	prune = true
